.main {
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  background-image: url(../../img/Ellipse\ 2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    @include container();
    .main-block {
      display: flex;
      justify-content: space-between;
      &_card1 {
        width: 840px;
        height:auto;
        background: #ffffff;
        border: 2px solid #f5f8fc;
        border-radius: 28px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__list {
          display: flex;
          list-style: none;
          justify-content: space-around;
          position: relative;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 25%;
            row-gap: 10px;
            h3 {
              @include h3();
              // width: 80%;
            }
            .list-radius {
              border: 1px solid rgba(49, 122, 193, 0.05);
              padding: 35px;
              border-radius: 50%;
              background: #ffffff;
              margin-top: -100px;
              .list__span {
                border: 1px solid rgba(49, 122, 193, 0.05);
                border-radius: 50%;
                padding: 25px;
                background: #ffffff;
                img {
                  background: radial-gradient(
                      50% 50% at 50% 50%,
                      rgba(255, 255, 255, 0.105) 0%,
                      rgba(241, 195, 32, 0.5) 100%
                    ),
                    #f1c320;
                  border-radius: 50%;
                  width: 84px;
                  height: 84px;
                  object-fit: none;
                }
              }
            }
          }
        }
        &__table {
          width: 90%;
          cursor: pointer;
          .table-tr1 {
            width: $width;
            display: flex;
          }
          th {
            width: 45%;
            background: #f5f8fc;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid #ffffff;
            border-radius: 16px 0px 0px 0px;
            height: 50px;
            h3 {
              @include h3();
              font-size: 15px;
            }
            p {
              @include p();
            }
          }
          td {
            display: flex;
            width: 55%;
            justify-content: space-evenly;
            align-items: center;
            background: #f5f8fc;
            border: 1px solid #ffffff;
            border-radius: 0px 16px 0px 0px;
            height: 50px;
            h3 {
              @include h3();
              font-size: 15px;
            }
            p {
              @include p();
            }
          }
          .table-tr2 {
            width: $width;
            display: flex;
            th {
              background: #ffffff;

              border: 1px solid #f5f8fc;
              border-radius: 0px;
            }
            td {
              width: 55%;
              // justify-content: space-around;
              display: flex;
              gap: 130px;
              background: #ffffff;
              border: 1px solid #f5f8fc;
              border-radius: 0px;
            }
          }
          .table-tr3 {
            width: $width;
            display: flex;
            th {
              border-radius: 0px 0px 0px 16px;
              gap: 45px;
            }
            td {
              border-radius: 0px 0px 16px 0px;
            }
          }
        }
        &__content {
          margin: 20px auto;
          width: 90%;
          height: 305px;
          background: #f5f8fc;
          border-bottom: 1px solid rgba(29, 47, 65, 0.04);
          box-shadow: 0px 2px 9px rgba(74, 99, 122, 0.15);
          border-radius: 16px 16px 24px 24px;
          display: flex;
          justify-content: space-around;
          cursor: pointer;
          &--left {
            width: 50%;
            .left-title {
              width: $width;
              @include display();
              justify-content: center;
              border-right: 1px solid #edf1f5;
              background: #ffffff;
              height: 50px;
              background: rgba(255, 255, 255, 0.7);
              border-radius: 16px 0px 0px 0px;
              h3 {
                @include h3();
                color: #6fd73e;
              }
            }
            .left-box {
              width: $width;
              @include display();
              // flex-direction: column;
              justify-content: center;
              height: 85px;
              border-bottom: 1px solid white;
              border-right: 1px solid white;
              &_icon {
                width: 14px;
                height: 14px;
                background: #6fd73e;
                border-radius: 4px;
                @include display();
                justify-content: center;
              }
              &_text {
                width: 90%;
                text-align: center;

                p {
                  @include p();
                  font-weight: 400;
                  font-size: 11px;
                  line-height: 140%;
                  color: #384454;
                }
              }
            }
          }
          &--right {
            width: 50%;
            .right-title {
              width: $width;
              @include display();
              justify-content: center;
              border-left: 1px solid #edf1f5;
              background: #ffffff;
              height: 50px;
              background: rgba(255, 255, 255, 0.7);
              border-radius: 0px 16px 0px 0px;
              h3 {
                background: #ffffff;
                color: #eb5c1f;
              }
            }
            .right-box {
              width: $width;
              @include display();
              height: 85px;
              border-bottom: 1px solid white;
              border-left: 1px solid white;
              gap: 10px;
              &_icon {
                width: 14px;
                height: 14px;
                background: rgba(235, 92, 31, 1);
                border-radius: 4px;
                @include display();
                justify-content: center;
                margin-left: 10px;
              }
            }
          }
        }
        &__subtitle {
          width: 90%;
          margin: 0 auto;
          p {
            text-align: justify;
            width: 95%;
            @include p();
          }
        }
        &__img {
          h2 {
            margin-left: 30px;
            @include h2();
          }
          &--srch {
            margin: 20px auto;
            text-align: center;
            width: 750px;
            padding: 30px;
            height: 250px;
            background: #ffffff;
            border: 1px solid #d4d3dc;
            border-radius: 20px;
          }
          #srch {
            margin-left: 30px;
          }
          p {
            margin: 10px auto;
            margin-left: 30px;
            @include p();
          }
          &--btn {
            @include btn();
            width: 90%;
            margin: 10px auto;
            margin-left: 30px;
            color: #ffffff;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
          }
          //   2chi card boshlanishi
          &_card2 {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            &__content1 {
              width: 400px;
              height: 664px;
              background: #ffffff;
              border: 2px solid #ffffff;
              border-radius: 28px;
            }
          }
        }
      }
      &_card2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__content1 {
          width: 400px;
          height: 664px;
          background: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 28px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          p {
            @include p();

            a {
              color: #317ac1;
              text-decoration: none;
            }
          }
        }
        &__content2 {
          width: 400px;
          height: 383px;
          background: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 28px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 23px;

          h3 {
            @include h3();
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            color: #384454;
          }
          p {
            @include p();
            opacity: 0.7;
            font-size: 15px;
          }
          &--btn {
            margin: 0 auto;
            @include btn();
            color: #ffffff;
            width: 80%;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1300px){
  .main{
      width: 100%;
      .container{
          width: 100%;
      }
  }
}
@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    .container {
      width: 100%;
      .main-block {
        display: flex;
        justify-content: space-around;
        &_card1 {
          width: 448px;
          height: auto;
          &__list {
            li {
              h3 {
                font-size: 10px;
                line-height: 150%;
              }
              .list-radius {
                padding: 15px;

                .list__span {
                  border-radius: 50%;
                  padding: 8px;

                  img {
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                    object-fit: none;
                  }
                }
              }
            }
          }
          &__table {
            width: 90%;
            .table-tr1 {
              width: $width;
              display: flex;
            }
            th {
              h3 {
                font-size: 10px;
                line-height: 120%;
              }
              p {
                font-size: 10px;
                line-height: 120%;
              }
            }
            td {
              h3 {
                font-size: 10px;
                line-height: 120%;
              }
              p {
                font-size: 10px;
                line-height: 120%;
              }
            }
            .table-tr2 {
              th {
                border: 1px solid #f5f8fc;
                border-radius: 0px;
              }
              td {
                width: 55%;
                gap: 80px;
              }
            }
            .table-tr3 {

              th {
                gap: 30px;
              }
              td {
                border-radius: 0px 0px 16px 0px;
              }
            }
          }
          &__content {
            width: 90%;
            height: 307px;

            &--left {
              width: 50%;
              .left-title {
                height: 44px;
                h3 {
                  font-size: 8px;
                  line-height: 120%;
                }
              }
              .left-box {
                width: $width;
                height: 87px;
                justify-content: space-around;
                .left-box_icon{
                  width: 13px;
                  height: 13px;
                  margin-left: 10px;
                }
                &_text {
                  width: 100%;
                  font-size: 8px;
                  line-height: 120%;

                  p {
                    font-size: 8px;
                    line-height: 120%;
                  }
                }
              }
            }
            &--right {
              width: 50%;
              .right-title {
                height: 44px;

                h3 {
                  font-size: 8px;
                  line-height: 120%;
                }
              }
              .right-box {
                width: $width;
                height: 87px;
                row-gap: 8px;
                .right-box_icon{
                  width: 13px;
                  height: 13px;
                  margin-left: 10px;
                }
                &_text {
                    width: 100%;
                    font-size: 8px;
                    line-height: 120%;
                  p {
                    font-size: 8px;
                    line-height: 120%;
                  }
                }
              }
            }
          }
          &__subtitle {
            width: 90%;
            margin: 0 auto;
            p {
              font-size: 12px;
              line-height: 140%;
            }
          }
          &__img {
            h2 {
              margin-left: 20px;
              font-size: 20px;
              line-height: 150%;
              letter-spacing: 1px;
            }
            &--srch {
              width: 400px;
              padding: 30px;
              height: 250px;
         
            }
            #srch {
              width: 90%;
              margin-left: 25px;
            }
            p {
              font-size: 12px;
              line-height: 140%;
              margin-left: 25px;
            }
            &--btn {
              font-size: 10px;
              line-height: 12px;
            }
            //   2chi card boshlanishi
            &_card2 {
              display: flex;
              flex-direction: column;
              row-gap: 50px;
              &__content1 {
                width: 400px;
                height: 664px;
                background: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 28px;
              }
            }
          }
        }
        &_card2 {

          &__content1 {
            width: 250px;
            height: 350px;
            p {
              font-size: 10px;
              line-height: 9px;

              a {
                color: #317ac1;
                text-decoration: none;
              }
            }
          }
          &__content2 {
            width: 250px;
            height:300px;
            display: flex;
            align-items:center;
            flex-direction: column;
            // justify-content: center;
            text-align: center;
            h3 {
              font-size: 16px;
              line-height: 160%;
            }
            p {
              font-size: 12px;
              line-height: 12px;
            }
            &--btn {
              width: 70%;
              height: 48px;
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .main {
    width: 100%;
    .container {
      width: 100%;
      .main-block {
        display: flex;
        flex-direction: column;
        align-items:center;
        &_card1 {
          width: 100%;
          height: auto;
          &__list {
            
            li {
              h3 {
                font-size: 10px;
                line-height: 150%;
              }
              .list-radius {
                padding: 11px;

                .list__span {
                  border-radius: 50%;
                  padding: 7px;

                  img {
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    object-fit: none;
                  }
                }
              }
            }
          }
          &__table {
            width: 90%;
            .table-tr1 {
              width: $width;
              display: flex;
            }
            th {
              h3 {
                font-size: 10px;
                line-height: 120%;
              }
              p {
                font-size: 10px;
                line-height: 120%;
              }
            }
            td {
              h3 {
                font-size: 10px;
                line-height: 120%;
              }
              p {
                font-size: 10px;
                line-height: 120%;
              }
            }
            .table-tr2 {
              th {
                border: 1px solid #f5f8fc;
                border-radius: 0px;
              }
              td {
                width: 55%;
                gap: 80px;
              }
            }
            .table-tr3 {

              th {
                gap: 30px;
              }
              td {
                border-radius: 0px 0px 16px 0px;
              }
            }
          }
          &__content {
            width: 90%;
            height: 307px;

            &--left {
              width: 50%;
              .left-title {
                height: 44px;
                h3 {
                  font-size: 8px;
                  line-height: 120%;
                }
              }
              .left-box {
                width: $width;
                height: 87px;
                justify-content: space-around;
                .left-box_icon{
                  width: 1px;
                  height: 13px;
                  margin-left: 10px;
                }
                &_text {
                  width: 100%;
                  font-size: 8px;
                  line-height: 120%;

                  p {
                    font-size: 8px;
                    line-height: 120%;
                  }
                }
              }
            }
            &--right {
              width: 50%;
              .right-title {
                height: 44px;

                h3 {
                  font-size: 8px;
                  line-height: 120%;
                }
              }
              .right-box {
                width: $width;
                height: 87px;
                row-gap: 8px;
                .right-box_icon{
                  width: 13px;
                  height: 10px;
                  margin-left: 10px;
                }
                &_text {
                    width: 100%;
                    font-size: 8px;
                    line-height: 120%;
                  p {
                    font-size: 8px;
                    line-height: 120%;
                  }
                }
              }
            }
          }
          &__subtitle {
            width: 90%;
            margin: 0 auto;
            p {
              font-size: 12px;
              line-height: 140%;
            }
          }
          &__img {  
            h2 {
              margin-left: 20px;
              font-size: 20px;
              line-height: 150%;
              letter-spacing: 1px;
            }
            &--srch {
              width: 90%;
              padding: 30px;
              height: 200px;
         
            }
            #src{
              width: 100%;
            }
            #srch {
              width: 90%;
              margin-left: 25px;
            }
            p {
              font-size: 12px;
              line-height: 140%;
              margin-left: 25px;
            }
            &--btn {
              width: 85%;
              font-size: 10px;
              line-height: 12px;
            }
            //   2chi card boshlanishi
            &_card2 {
              display: flex;
              flex-direction: column;
              row-gap: 50px;
              &__content1 {
                width: 400px;
                height: 664px;
                background: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 28px;
              }
            }
          }
        }
        &_card2 {
          order: -1;
          margin-bottom: 140px;
          &__content1 {
            width: 250px;
            height: 350px;
            p {
              font-size: 10px;
              line-height: 9px;

              a {
                color: #317ac1;
                text-decoration: none;
              }
            }
          }
          &__content2 {
            order: 1;
            width: 250px;
            height:300px;
            text-align: center;
            h3 {
              font-size: 16px;
              line-height: 160%;
            }
            p {
              font-size: 12px;
              line-height: 12px;
            }
            &--btn {
              width: 70%;
              height: 48px;
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}