.communities {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url(../../img/Ellipse\ 2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .container {
    @include container();
    position: relative;
    .communities-coin {
      position: absolute;
      right: 20px;
      top: -160px;
      transform: rotate(260deg);
    }
    .communities-blocks {
      width: $width;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      &_card1 {
        width: 820px;
        height: 763px;
        background: #ffffff;
        border: 2px solid #f5f8fc;
        border-radius: 30px;
        @include display();
        flex-direction: column;
        row-gap: 20px;
        img {
          width: $width;
        }
        p {
          width: 80%;
          @include p();
        }
      }
      &_card2 {
        width: 422px;
        height: 383px;
        background: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 28px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 23px;

        h3 {
          @include h3();
          font-weight: 700;
          font-size: 22px;
          line-height: 150%;
          color: #384454;
        }
        p {
          @include p();
          opacity: 0.7;
          font-size: 15px;
        }
        &__btn {
          margin: 0 auto;
          @include btn();
          color: #ffffff;
          width: 80%;
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width:1300px) {
    .communities{
        width: 100%;
        .container{
            width: 100%;
        }
    }
}
@media screen and (max-width: 900px) {
  .communities {
    width: 100%;
    .container {
      width: 100%;
      .communities-coin {
        right: 100px;
        img{
            width: 87px;
            height: 89px;
        }
      }
      .communities-blocks {
        width: $width;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        &_card1 {
          width: 448px;
          height: 472px;

          img {
            width: $width;
          }
          p {
            font-size: 12px;
            line-height: 130%;
          }
        }
        &_card2 {
          width: 216px;
          height: 302px;
          text-align: center;
          padding: 0;
          h3 {
            font-size: 16px;
            line-height: 17px;
          }
          p {
            font-size: 12px;
            line-height: 12px;
          }
          &__btn {
            height: 48px;
            width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
    .communities {
      width: 100%;
      .container {
        width: 100%;
        .communities-coin {
       right: 100px;
        }
        .communities-blocks {
          width: $width;
          display: flex;
          margin-top: 30px;
          flex-direction: column;
          align-items:center;
            row-gap: 20px;
          &_card1 {
            width: 288px;
            height: 550px;
  
            img {
              width: $width;
            }
            p {
              font-size: 12px;
              line-height: 130%;
            }
          }
          &_card2 {
            width: 288px;
            height: 256px;
              text-align: center;
              padding: 0;
            h3 {
              font-size: 16px;
              line-height: 17px;
            }
            p {
              font-size: 11px;
              line-height: 12px;
            }
            &__btn {
              height: 45px;
              width: 90%;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }
  }